<h1>Product Info:</h1>

<h3>Name:</h3>
<h6><%= @product.name %></h6>
<h3>Price:</h3>
<h6><%= @product.price %></h6>
<h3>Image:</h3>
<h6><%= @product.image %></h6>
<h3>Description:</h3>
<h6><%= @product.description %></h6>

<p><a class="btn btn-primary" href="/products">Back to all Products</a></p>
